*.DS_Store
*/metadata/*
*/Temp/*
*.meta
*.sln

# Object files
*.o
*.ko
*.obj
*.elf
*.pyc

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Windows BS
Thumbs.db

# Test Error Log
error_test.txt

# Tweet Log
*templateLog.txt
~                   
